/*Google Font*/
/*Tag/Type Selector*/
/* tag { */
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
/*Universal Selector*/
/* * { */
* {
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;
		}

/*Tag or Type Selector*/
/* tag { */
nav {
	/*Shorthand Property*/
	/*Padding is applied to all sides*/
	/*1rem = 16px*/
	padding: 0.8rem; /*Inspect Green = Padding*/
	/*
	padding-left: 0.8rem;
	padding-right:  0.8rem;
	padding-top:  0.8rem;
	padding-bottom:  0.8rem;
	*/
	margin-bottom: 2rem; /*Inspect Orange = Margin*/
	border-bottom: 1px solid gray;
	
}

/*Descendant Selector*/
/* Selector Selector { */
nav ul {
	list-style-type: none;
}

/*Descendant Selector*/
/* Selector Selector { */
/* comma (,) serves as an "and" */
nav .nav-logo, nav .nav {
	/*Shorthand Property*/
	margin: 0.5rem; /*Inspect Orange = Margin*/
	/*
	margin-left: 0.5rem
	margin-right: 0.5rem
	margin-bottom: 0.5rem
	margin-top: 0.5rem
	*/
	/*changes list items to inline elements*/
	display: inline;	
}

/*ID Selector*/
/* #id { */
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*Shorthand Property*/
	/*
	padding: (top) (left) (right) (bottom)
	padding: 2rem 10% 3rem;
	*/
	/*centers all text elements*/
	text-align: center;
}

/*Descendant Selector*/
/* Selector Selector { */
#intro h2, #intro p {
	margin-bottom: 1rem;
}

/*Descendant Selector*/
/* Selector Selector { */
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*ID Selector*/
/* #id { */
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

/*Descendant Selector*/
/* Selector Selector { */
#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

/*Descendant Selector*/
/* Selector Selector { */
#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

/*Descendant Selector*/
/* Selector Selector { */
#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

