/*Type Selector*/
/*tag-name*/
/*!important overrides inline and internal styling*/
h1 {
	color: yellow !important;
}

/*Universal Selector*/
/*star sign means all*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector*/
/*#id-name*/
/*target one only*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/
/*target multiple*/
.offering-item {
	text-transform: uppercase;
}

/*Adjacent Sibling Selector*/
/*next element*/
/*selector (reference) + selector (element to be styled)*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/
/*STYLE THE CHILD OF THE PARENT ELEMENT*/
/*selector (reference) selector (element to be styled)*/
#bootcamp-learning-list li {
	color: #075966;
}

/*General Sibling Selector*/
/*any sibling of reference*/
/*selector (reference) ~ selector (element to be styled)*/
h2 ~ a {
	text-decoration: none;
}



.modules {
	letter-spacing: 3px;
}